/*二手电器城*/
.main {
    width: 100%;
    height: 400px;
    background: url(../image/secondbgc.jpg) no-repeat -190px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.main > .imgBorder {
    width: 280px;
    height: 205px;
    position: absolute;
    left: 275px;
    top: 120px;
}

.main > .imgBorder > span {
    width: 73px;
    height: 73px;
    background: url("../image/secondgezi.png") no-repeat;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 73px;
    color: rgb(53, 53, 53);
    margin-left: 15px;
}

.main > .imgBorder > div {
    color: rgb(53, 53, 53);
    font-size: 24px;
    margin-top: 25px;
    margin-left: 35px;
}

.body {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.body .brands {
    width: 100%;
    height: 330px;
}

.body .brands > table {
    width: 100%;
    height: 100%;
}

.body .brands > table tr > td {
    width: 285px;
    height: 330px;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    border: 1px solid #e0e0e0;
}

.body .brands > table tr > td:last-of-type {
    margin-right: 0;
}

.body .brands > table tr > td > b,
.body .brands > table tr > td > span,
.body .brands > table tr > td img {
    position: absolute;
}

.body .brands > table tr > td > b {
    left: 100px;
    top: 42px;
    font-size: 24px;
}

.body .brands > table tr > td > span {
    width: 72px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    left: 100px;
    top: 77px;
    color: #333333;
    font-size: 18px;
}

.body .brands > table tr > td > img {
    top: 150px;
    left: 70px;
}

.body .brandsRolling {
    width: 100%;
    height: 115px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
    overflow: hidden;
}

.body .brandsRolling > ul {
    width: 200%;
    height: 100%;
    animation-name: roll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.body .brandsRolling > ul > li {
    width: 224px;
    height: 115px;
    float: left;
    margin-right: 16px;
}

.body .brandsRolling > ul > li:last-of-type {
    margin-right: 0;
}

.body .brandsRolling > ul > li > img {
    width: 100%;
    height: 100%;
}

.body .brandsRolling > ul:hover {
    cursor: pointer;
    animation-play-state: paused;
}

@keyframes roll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1200px);
    }
}

.body .newSecondThingsList {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 40px;
}

.body .newSecondThingsList > div {
    width: 280px;
    height: 360px;
    margin-left: 10px;
    margin-top: 10px;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImg {
    width: 100%;
    height: 280px;
    border: 1px solid #ececec;
    cursor: pointer;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImg > img {
    width: 280px;
    height: 280px;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImgDes {
    width: 100%;
    height: 80px;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImgDes > div:first-of-type {
    width: 100%;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-family: "微软雅黑";
    white-space: nowrap;
    margin-top: 10px;
    color: #666666;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImgDes > div:last-of-type {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    position: relative;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImgDes > div:last-of-type > span {
    color: #ffc001;
    font-size: 14px;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImgDes > div:last-of-type > span:nth-of-type(2) {
    font-size: 20px;
}

.body .newSecondThingsList > .newSecondThings > .newSecondThingsImgDes > div:last-of-type > span:last-of-type {
    width: 112px;
    height: 28px;
    background-color: #ffc001;
    color: white;
    line-height: 28px;
    text-align: center;
    position: absolute;
    right: 0;
    top: -10px;
    border-radius: 3px;
    cursor: pointer;
}