/*用户资料*/
.body .body_right > .body_right_tA {
    width: 100%;
    height: 7%;
    /*background-color: yellow;*/
    border-bottom: 1px dotted #e9e9e9;
    line-height: 50px;
    font-size: 16px;
}

.body .body_right > .body_right_mA {
    width: 100%;
    height: 90%;
    position: relative;
}

.body .body_right > .body_right_mA > .addrMsgNewList {
    position: relative;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body .body_right > .body_right_mA > .addrMsgNewList > .addAddrMsgPanel {
    position: relative;
    display: block;
    overflow: hidden;
    width: 342px;
    height: 208px;
    padding: 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 25px;
}

.body .body_right > .body_right_mA > .addrMsgNewList:nth-child(1),
.body .body_right > .body_right_mA > .addrMsgNewList:nth-child(2) {
    margin-top: 20px
}

.addAddrMsgPanel .addAddr {
    background: url("../image/vbg01.png") -140px -240px no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 148px;
    margin-top: 61px;
    cursor: pointer;
}

.addAddrMsgPanel .addAddrMsg {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #9a9a9a;
    margin-top: 5px;
    text-align: center;
}