<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>满意网-综合网购首选-正品低价、品质保证、配送即使、轻松购物、包您满意！</title>
    <!--icon字体图标-->
    <!--<link rel="shortcut icon" href="image/H6@QR(8]_TR5Z~FGIR$_WI8.png" type="image/x-icon"/>-->
    <!--初始化css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <!--公共的css:头部和底部-->
    <link rel="stylesheet" href="css/base.css" type="text/css">
    <!--首页的css-->
    <link rel="stylesheet" href="css/discountRush.css" type="text/css">
    <!--字体图标css-->
    <link rel="stylesheet" type="text/css" href="font/download/font_942gj5vp4fp/iconfont.css">
    <link rel="stylesheet" href="font/download (2)/font_pzp01tyw83/iconfont.css">
</head>
<body>
<!--快捷导航模块开始-->
<div class="shortcut">
    <div class="w w1" style="display: block;">
        <ul class="fl">
            <li><a href="http://localhost:8080/login">请登录</a></li>
            <li class="spacer">|</li>
            <li><a href="http://localhost:8080/register">注册</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="#" id="wechartLogion">
                    <span></span>
                    微信登录
                </a>
            </li>
        </ul>
        <ul class="fr">
            <li id="phoneApp">
                <a href="#">
                    <span></span>
                    手机版
                </a>
                <div class="phoneApp">
                    <img src="image/shoujierweima.png" alt="">
                    <h4>查看手机网站</h4>
                </div>
                <div class="trangle1"></div>
            </li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    收藏本站
                </a>
            </li>
            <li class="spacer">|</li>
            <li><a href="#">我的资料</a></li>
            <li class="spacer">|</li>
            <li><a href="">我的订单</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    购物车
                </a>
            </li>
        </ul>
    </div>
    <div class="w" style="display: none;">
        <ul class="fl">
            <li class="userAccount"></li>
            <li class="spacer">|</li>
            <li><a href="#" class="loginOut">退出</a></li>
        </ul>
        <ul class="fr">
            <li id="phoneAppAfter">
                <a href="#">
                    <span></span>
                    手机版
                </a>
                <div class="phoneApp">
                    <img src="image/shoujierweima.png" alt="">
                    <h4>查看手机网站</h4>
                </div>
                <div class="trangle1"></div>
            </li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    收藏本站
                </a>
            </li>
            <li class="spacer">|</li>
            <li><a href="http://localhost:8080/userinfo">我的资料</a></li>
            <li class="spacer">|</li>
            <li><a href="http://localhost:8080/userinfo">我的订单</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="http://localhost:8080/shoppingcart">
                    <span></span>
                    购物车
                </a>
            </li>
        </ul>
    </div>
</div>
<!--快捷导航模块结束-->
<!--顶部模块开始-->
<div class="header">
    <div class="w">
        <div class="text">
            E-commerce Platform
            <span>Design</span>
        </div>
        <div class="hotwords">
            <div class="itemCenter"><a href="http://localhost:8080">首页</a></div>
            <div class="itemCenter hotwordsBorderBottom"><a href="http://localhost:8080/discount">优惠抢购</a></div>
            <div class="itemCenter"><a href="http://localhost:8080/secondhand">新品二手</a></div>
            <div class="itemCenter"><a href="http://localhost:8080/appliance">二手电器城</a></div>
            <div class="itemCenter"><a href="http://localhost:8080/member">会员购</a></div>
        </div>
    </div>
</div>
<!--顶部模块结束-->
<!--右侧工具栏开始-->
<div class="rightBar">
    <i class="message iconfont icon-zhanghao">
        <div class="slogans">我的资料
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="http://localhost:8080/register">免费注册></a></div>
        </div>
    </i>
    <i class="collection iconfont icon-shoucang-copy">
        <div class="slogans">我的收藏
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="shoppingCar iconfont icon-icon1">
        <div></div>
        <h1>购物车</h1>
        <span>0</span>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="leaveMessage iconfont icon-liuyan">
        <div class="slogans">留言
            <span class="trangle"></span>
        </div>
    </i>
    <i class="erweima iconfont icon-erweima"></i>
    <i class="toTop iconfont icon-fanhuidingbu" id="toTop">
        <div class="slogans">回到顶部
            <span class="trangle"></span>
        </div>
    </i>
</div>
<!--右侧导航栏结束-->
<!--main模块开始-->
<div class="main">
    <div class="w">
        <div class="bg3"></div>
        <div class="bg4"></div>
    </div>
</div>
<!--main模块结束-->
<!--body模块开始-->
<div class="body">
    <div class="w">
        <div class="discount">
            <table>
                <tr>
                    <td>
                        <div class="discount_left">
                            <b>优惠券</b>
                            <div>好货至低价</div>
                        </div>
                    </td>
                    <td>
                        <div class="discount_right">
                            <div class="coupon">
                                <div class="coupon_left">
                                    <div class="coupon_left_b">
                                        <div class="coupon_left_b1">￥</div>
                                        <div class="coupon_left_b2">40</div>
                                        <div class="coupon_left_b3">满300用</div>
                                        <div class="coupon_left_b4">仅限部分产品使用</div>
                                    </div>
                                </div>
                                <div class="coupon_right">
                                    <div>已失效</div>
                                </div>
                            </div>
                            <div class="coupon">
                                <div class="coupon_left">
                                    <div class="coupon_left_b">
                                        <div class="coupon_left_b1">￥</div>
                                        <div class="coupon_left_b2">30</div>
                                        <div class="coupon_left_b3">满200用</div>
                                        <div class="coupon_left_b4">仅限部分产品使用</div>
                                    </div>
                                </div>
                                <div class="coupon_right">
                                    <div>已失效</div>
                                </div>
                            </div>
                            <div class="coupon">
                                <div class="coupon_left">
                                    <div class="coupon_left_b">
                                        <div class="coupon_left_b1">￥</div>
                                        <div class="coupon_left_b2">20</div>
                                        <div class="coupon_left_b3">满150用</div>
                                        <div class="coupon_left_b4">仅限部分产品使用</div>
                                    </div>
                                </div>
                                <div class="coupon_right">
                                    <div>已失效</div>
                                </div>
                            </div>
                            <div class="coupon">
                                <div class="coupon_left">
                                    <div class="coupon_left_b">
                                        <div class="coupon_left_b1">￥</div>
                                        <div class="coupon_left_b2">10</div>
                                        <div class="coupon_left_b3">满100用</div>
                                        <div class="coupon_left_b4">仅限部分产品使用</div>
                                    </div>
                                </div>
                                <div class="coupon_right">
                                    <div>已失效</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="preferential">
            <table>
                <tr>
                    <td>
                        <div class="preferential_left">
                            <div class="preferential_left_t">
                                <span>品牌数码</span>
                                <span></span>
                            </div>
                            <div class="preferential_left_b">
                                <span>看世界</span>
                                <span>我有我的范</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="preferential_middle">
                            <div class="preferential_middle_t">
                                <span>母婴精品</span>
                                <span></span>
                            </div>
                            <div class="preferential_middle_b">
                                <div></div>
                                <span>下单赚好礼</span>
                                <a href="javascript:void(0)">去逛逛</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="preferential_right">
                            <div class="preferential_right_t">
                                <span>美妆活动</span>
                                <span></span>
                            </div>
                            <div class="preferential_right_b">
                                <span>雾面丝绒口红</span>
                                <span>持久保湿滋润</span>
                                <a href="javascript:void(0)">购买</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="discountBoutique">
            <div class="discountBoutique_top">优惠精品</div>
            <div class="discountBoutique_bottom"></div>
        </div>
    </div>
</div>
<!--body模块结束-->
<!--foot模块开始-->
<div class="foot">
    <div class="foot_top"><img data-original="image/5XGBR@Z$QVQ4$%5D1K%60HRJ958.png" alt=""></div>
    <div class="foot_bottom"><img data-original="image/OP4FMG5S9X_6TVX%6034(PZC2.png" alt=""></div>
</div>
<!--foot模块结束-->
<!--遮挡层-->
<div class="wechart">
    <div class="loginTitle">
        <span>微信登录</span>
        <span id="closeBtn">X</span>
    </div>
    <div class="loginPic">
        <img src="image/erweima1.png" alt="">
        <span>请使用微信扫描二维码</span>
    </div>
</div>
<div class="barrierBed"></div>
<script src="js/jquery-1.12.4.js"></script>
<script src="js/jquery.lazyload.js"></script>
<script src="js/MD5.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/template-web.js"></script>
<script src="js/base.js"></script>
<script src="js/discountRush.js"></script>
</body>
</html>