<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>满意网-综合网购首选-正品低价、品质保证、配送即使、轻松购物、包您满意！</title>
    <!--icon字体图标-->
    <!--<link rel="shortcut icon" href="image/H6@QR(8]_TR5Z~FGIR$_WI8.png" type="image/x-icon"/>-->
    <!--初始化css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <!--公共的css:头部和底部-->
    <link rel="stylesheet" href="css/base.css" type="text/css">
    <!--订单结算页面的css-->
    <link rel="stylesheet" href="css/orderSettlement.css">
    <!--字体图标css-->
    <link rel="stylesheet" type="text/css" href="font/download/font_942gj5vp4fp/iconfont.css">
    <link rel="stylesheet" href="font/download/font_90ljwep9b4l/iconfont.css">
</head>
<body>
<!--快捷导航模块开始-->
<div class="shortcut">
    <div class="w">
        <ul class="fl">
            <li><a href="login.html">请登录</a></li>
            <li class="spacer">|</li>
            <li><a href="register.html">注册</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="#" id="wechartLogion">
                    <span></span>
                    微信登录
                </a>
            </li>
        </ul>
        <ul class="fr">
            <li id="phoneApp">
                <a href="#">
                    <span></span>
                    手机版
                </a>
                <div class="phoneApp">
                    <img src="image/shoujierweima.png" alt="">
                    <h4>查看手机网站</h4>
                </div>
                <div class="trangle1"></div>
            </li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    收藏本站
                </a>
            </li>
            <li class="spacer">|</li>
            <li><a href="">我的资料</a></li>
            <li class="spacer">|</li>
            <li><a href="">我的订单</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    购物车
                    <number>(0)</number>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--快捷导航模块结束-->
<!--顶部模块开始-->
<div class="header">
    <div class="w">
        <div class="text">
            E-commerce Platform
            <span>Design</span>
        </div>
        <div class="hotwords">
            <div class="itemCenter"><a href="">首页</a></div>
            <div class="itemCenter"><a href="">优惠抢购</a></div>
            <div class="itemCenter"><a href="">新品二手</a></div>
            <div class="itemCenter"><a href="">二手电器城</a></div>
            <div class="itemCenter"><a href="">会员购</a></div>
        </div>
    </div>
</div>
<!--顶部模块结束-->
<!--右侧工具栏开始-->
<div class="rightBar">
    <i class="message iconfont icon-zhanghao">
        <div class="slogans">我的资料
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="collection iconfont icon-shoucang-copy">
        <div class="slogans">我的收藏
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="shoppingCar iconfont icon-icon1">
        <div></div>
        <h1>购物车</h1>
        <span>0</span>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="leaveMessage iconfont icon-liuyan">
        <div class="slogans">留言
            <span class="trangle"></span>
        </div>
    </i>
    <i class="erweima iconfont icon-erweima"></i>
    <i class="toTop iconfont icon-fanhuidingbu" id="toTop">
        <div class="slogans">回到顶部
            <span class="trangle"></span>
        </div>
    </i>
</div>
<!--右侧导航栏结束-->
<!--main模块开始-->
<div class="main"></div>
<!--main模块结束-->
<!--body模块开始-->
<div class="body">
    <div class="w">
        <div class="consignee">
            <div class="consigneeTitle">收货人信息</div>
            <div class="addConsignee">
                <div class="showConsigneeM" style="display: none;">
                    <div class="showConsigneeMPic"></div>
                    <div class="showConsigneeMName">
                        <i></i>
                        <span></span>
                    </div>
                    <div class="showConsigneeMTel">
                        <i></i>
                        <span></span>
                    </div>
                    <div class="showConsigneeMPlace">
                        <i></i>
                        <span></span>
                    </div>
                    <div class="showConsigneeMIcon">
                        <i></i>
                    </div>
                    <div class="dealAddrHandler">
                        <div class="delAddrBtn" id="delAddrBtn"></div>
                        <div class="editAddrBtn" id="editAddrBtn"></div>
                    </div>
                </div>
                <div class="addConsigneeM" id="addConsigneeM" style="display: none;">
                    <div class="addAddrMsg"></div>
                    <div class="addAddr">添加信息</div>
                </div>
            </div>
        </div>
        <div class="shipping">
            <div class="shippingTitle">配送方式</div>
            <div class="shippingHandle">
                <select>
                    <option value="平邮">平邮</option>
                    <option value="快递">快递</option>
                    <option value="EMS">EMS</option>
                </select>
                <span>配送费：￥5.00</span>
            </div>
        </div>
        <div class="pay">
            <div class="payTitle">支付方式</div>
            <div class="payHandle">
                <div class="payHandleImg">
                    <div class="payMethod"></div>
                </div>
            </div>
        </div>
        <div class="shoppingList">
        </div>
        <div class="mstlTotalWarp"></div>
    </div>
</div>
<!--body模块结束-->
<!--foot模块开始-->
<div class="foot">
    <div class="foot_top"><img data-original="image/5XGBR@Z$QVQ4$%5D1K%60HRJ958.png" alt=""></div>
    <div class="foot_bottom"><img data-original="image/OP4FMG5S9X_6TVX%6034(PZC2.png" alt=""></div>
</div>
<!--foot模块结束-->
<!--遮挡层-->
<div class="barrier"></div>
<!--更改信息-->
<div class="changeInformation">
    <div class="changeInformationTitle">
        <span>收货人信息</span>
        <span id="closeChangeInformation"></span>
    </div>
    <div class="changeInformationDes">
        <div class="changeInformationDes_name">
            <label for="changeInformationDes_name_t">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
            <i>*</i>
            <input type="text" id="changeInformationDes_name_t">
        </div>
        <div class="changeInformationDes_address">
            <label for="changeInformationDes_address">详细地址</label>
            <i>*</i>
            <input type="text" id="changeInformationDes_address">
        </div>
        <div class="changeInformationDes_tel">
            <label for="changeInformationDes_tel">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机</label>
            <i>*</i>
            <input type="text" id="changeInformationDes_tel">
        </div>
    </div>
    <div class="changeInformationBtn">
        <div class="changeInformationBtnOk" id="changeInformationBtnOk">确定</div>
        <div class="changeInformationBtnCancle" id="changeInformationBtnCancle">取消</div>
    </div>
</div>
<script src="js/jquery-1.12.4.js"></script>
<script src="js/jquery.lazyload.js"></script>
<script src="js/MD5.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/template-web.js"></script>
<script src="js/base.js"></script>
<script src="js/orderSettlement.js"></script>
<script>
    $(function () {
        var data =
            '<div class="shoppingListTitle">购物清单</div>' +
            '<div class="shoppingListHandler">' +
            '<div class="shoppingListHandlerTitle">' +
            '<table>' +
            '<tr>' +
            '<td>名称</td>' +
            '<td>价格</td>' +
            '<td>数量</td>' +
            '<td>小计</td>' +
            '</tr>' +
            '</table>' +
            '</div>' +
            '<div class="shoppingListHandlerDes">' +
            '<div class="shoppingListHandlerDesList">' +
            '<table>' +
            '<tr>' +
            '<td>' +
            '<img src="{{commodityPicture}}" alt="">' +
            '<span>{{commodityTitle}}</span>' +
            '</td>' +
            '<td>￥{{commodityPrice}}.00</td>' +
            '<td>{{amount}}</td>' +
            '<td>￥{{totalPrice}}.00</td>' +
            '</tr>' +
            '</table>' +
            '</div>' +
            '</div>' +
            '<div class="messageBoard">' +
            '<div>给卖家留言</div>' +
            '<div>' +
            '<input type="text" maxlength="200" placeholder="选填：对本次交易的说明（建议填写和卖家达成一致的说明）">' +
            '</div>' +
            '<div>(200字)</div>' +
            '</div>' +
            '</div>';
        var data2 =
            '<div>商品总额：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥{{totalPrice}}.00</div>' +
            '<div>运费：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥5.00</div>' +
            '<div>应付总金额：<span>￥{{finalPrice}}.00</span></div>' +
            '<div class="submitOrder" id="submitOrder"><span>提交订单</span></div>';
        var data3 = '{{each receiverInfo as value}}' +
            '<div class="showConsigneeM" addressId = "{{value.addressId}}">' +
            '<div class="showConsigneeMPic"></div>' +
            '<div class="showConsigneeMName">' +
            '<i></i>' +
            '<span>{{value.receiverName}}</span>' +
            '</div>' +
            '<div class="showConsigneeMTel">' +
            '<i></i>' +
            '<span>{{value.receiverPhone}}</span>' +
            '</div>' +
            '<div class="showConsigneeMPlace">' +
            '<i></i>' +
            '<span>{{value.location}}</span>' +
            '</div>' +
            '<div class="showConsigneeMIcon">' +
            '<i></i>' +
            '</div>' +
            '<div class="dealAddrHandler">' +
            '<div class="delAddrBtn"></div>' +
            '<div class="editAddrBtn"></div>' +
            '</div>' +
            '</div>' +
            '{{/each}}' +
            '<div class="addConsigneeM" id="addConsigneeM">' +
            '<div class="addAddrMsg"></div>' +
            '<div class="addAddr">添加信息</div>' +
            '</div>';
        $.ajax({
            url: "http://localhost:8080/order/buy",
            type: "get",
            data: {
                "id": sessionStorage.getItem("commodityId"),
                "thingsNumber": sessionStorage.getItem("thingsNumber")
            },
            success: function (res) {
                res.orderInfo.finalPrice = res.orderInfo.totalPrice + 5;
                var render = template.compile(data);
                var html = render(res.orderInfo);
                $(".shoppingList").html(html);
                var renders = template.compile(data2);
                var html1 = renders(res.orderInfo);
                $(".mstlTotalWarp").html(html1);
                if (res.receiverInfo.length == 0) {
                    $(".addConsigneeM").stop().show();
                }
                else {
                    var renderss = template.compile(data3);
                    var html2 = renderss(res);
                    $(".addConsignee").html(html2);
                }
                // 点击收货人信息改变边框颜色
                $(".showConsigneeM").on("click", function () {
                    $(this).addClass("addBorder").siblings(".showConsigneeM").removeClass("addBorder");
                });
                // 鼠标移入显示修改和删除按钮
                $(".showConsigneeM").on("mouseenter", function () {
                    // console.log("1");
                    // $(this).children(".dealAddrHandler").css("top", "0");
                    $(this).children(".dealAddrHandler").stop().animate({"top": "0"}, 400);
                });
                $(".showConsigneeM").on("mouseleave", function () {
                    // console.log("1");
                    // $(this).children(".dealAddrHandler").css("top", "-40px");
                    $(this).children(".dealAddrHandler").stop().animate({"top": "-40px"}, 400);
                });
                //删除收货人信息
                $(".delAddrBtn").on("click", function () {
                    $.post("http://localhost:8080/order/delete", {"addressId": $(this).parent().parent().attr("addressId")});
                    if ($(".showConsigneeM").length == 1) {
                        $(this).parent().parent().stop().hide();
                    }
                    else {
                        $(this).parent().parent().remove();
                    }
                });
                //修改收货人信息
                var flag = true;
                $(".editAddrBtn").on("click", function () {
                    flag = false;
                    var that = this;
                    $(".barrier").stop().show();
                    $(".changeInformation").stop().show();
                    var name = $(this).parent().siblings(".showConsigneeMName").children("span").html();
                    var tel = $(this).parent().siblings(".showConsigneeMTel").children("span").html();
                    var address = $(this).parent().siblings(".showConsigneeMPlace").children("span").html();
                    $("#changeInformationDes_name_t").val(name);
                    $("#changeInformationDes_address").val(address);
                    $("#changeInformationDes_tel").val(tel);
                    $("#changeInformationBtnOk").off("click");
                    $("#changeInformationBtnOk").on("click", function () {
                        var name1 = $("#changeInformationDes_name_t").val();
                        var address1 = $("#changeInformationDes_address").val();
                        var tel1 = $("#changeInformationDes_tel").val();
                        $(this).parent().siblings(".showConsigneeMName").children("span").html(name1);
                        $(this).parent().siblings(".showConsigneeMPlace").children("span").html(address1);
                        $(this).parent().siblings(".showConsigneeMTel").children("span").html(tel1);
                        $("#changeInformationDes_name_t").val("");
                        $("#changeInformationDes_address").val("");
                        $("#changeInformationDes_tel").val("");
                        $(".barrier").stop().hide();
                        $(".changeInformation").stop().hide();
                        $("#changeInformationBtnOk").off("click");
                        flag = true;
                        $.post("http://localhost:8080/order/update", {
                            "addressId": $(this).parent().parent().attr("addressId"),
                            "userName": name1,
                            "userAddress": address1,
                            "userPhone": tel1
                        });
                    }.bind(that));
                });
                // 添加收货人信息
                $("#addConsigneeM").on("click", function () {
                    $(".barrier").stop().show();
                    $(".changeInformation").stop().show();
                    $("#changeInformationDes_name_t").val("");
                    $("#changeInformationDes_address").val("");
                    $("#changeInformationDes_tel").val("");
                    $("#changeInformationBtnOk").on("click", function () {
                        if (flag == true) {
                            var name = $("#changeInformationDes_name_t").val();
                            var address = $("#changeInformationDes_address").val();
                            var tel = $("#changeInformationDes_tel").val();
                            if (name != "" && address != "" && tel != "") {
                                $.post("http://localhost:8080/order/insert", {
                                    "userName": name,
                                    "userAddress": address,
                                    "userPhone": tel
                                }, function (res) {
                                    console.log(res);
                                    var newInformation = $(".addConsignee").children().eq(0).clone(true);
                                    newInformation.removeClass("addBorder");
                                    newInformation.children(".showConsigneeMName").children("span").html(name);
                                    newInformation.children(".showConsigneeMPlace").children("span").html(address);
                                    newInformation.children(".showConsigneeMTel").children("span").html(tel);
                                    newInformation.attr("addressId", res.receiverInfo[res.receiverInfo.length - 1].addressId);
                                    newInformation.stop().show();
                                    newInformation.insertBefore($("#addConsigneeM"));
                                });
                            }
                            else {
                                alert("请填写完整的信息");
                                return false;
                            }
                            $(".barrier").stop().hide();
                            $(".changeInformation").stop().hide();
                            $("#changeInformationBtnOk").off("click");
                        }
                    });
                });
                // 关闭添加收货人信息
                $("#closeChangeInformation,#changeInformationBtnCancle").on("click", function () {
                    $(".barrier").stop().hide();
                    $(".changeInformation").stop().hide();
                });
            }
        });
    });
</script>
</body>
</html>