<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>满意网-综合网购首选-正品低价、品质保证、配送即使、轻松购物、包您满意！</title>
    <!--icon字体图标-->
    <!--<link rel="shortcut icon" href="image/H6@QR(8]_TR5Z~FGIR$_WI8.png" type="image/x-icon"/>-->
    <!--初始化css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <!--公共的css:头部和底部-->
    <link rel="stylesheet" href="css/base.css" type="text/css">
    <!--字体图标css-->
    <link rel="stylesheet" type="text/css" href="font/download/font_942gj5vp4fp/iconfont.css">
    <!--注册页的css-->
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
<!--快捷导航模块开始-->
<div class="shortcut">
    <div class="w">
        <ul class="fl">
            <li><a href="http://localhost:8080/user/login">请登录</a></li>
            <li class="spacer">|</li>
            <li><a href="http://localhost:8080/register">注册</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="#" id="wechartLogion">
                    <span></span>
                    微信登录
                </a>
            </li>
        </ul>
        <ul class="fr">
            <li id="phoneApp">
                <a href="#">
                    <span></span>
                    手机版
                </a>
                <div class="phoneApp">
                    <img src="image/shoujierweima.png" alt="">
                    <h4>查看手机网站</h4>
                </div>
                <div class="trangle1"></div>
            </li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    收藏本站
                </a>
            </li>
            <li class="spacer">|</li>
            <li><a href="">我的资料</a></li>
            <li class="spacer">|</li>
            <li><a href="">我的订单</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    购物车
                    <number>(0)</number>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--快捷导航模块结束-->
<!--顶部模块开始-->
<div class="header">
    <div class="w">
        <div class="text">
            E-commerce Platform
            <span>Design</span>
        </div>
        <div class="hotwords">
            <div class="itemCenter"><a href="http://localhost:8080">首页</a></div>
            <div class="itemCenter"><a href="http://localhost:8080/discount">优惠抢购</a></div>
            <div class="itemCenter"><a href="http://localhost:8080/secondhand">新品二手</a></div>
            <div class="itemCenter"><a href="http://localhost:8080/appliance">二手电器城</a></div>
            <div class="itemCenter"><a href="http://localhost:8080/member">会员购</a></div>
        </div>
    </div>
</div>
<!--顶部模块结束-->
<!--右侧工具栏开始-->
<div class="rightBar">
    <i class="message iconfont icon-zhanghao">
        <div class="slogans">我的资料
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="http://localhost:8080/register">免费注册></a></div>
        </div>
    </i>
    <i class="collection iconfont icon-shoucang-copy">
        <div class="slogans">我的收藏
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="shoppingCar iconfont icon-icon1">
        <div></div>
        <h1>购物车</h1>
        <span>0</span>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="leaveMessage iconfont icon-liuyan">
        <div class="slogans">留言
            <span class="trangle"></span>
        </div>
    </i>
    <i class="erweima iconfont icon-erweima"></i>
    <i class="toTop iconfont icon-fanhuidingbu" id="toTop">
        <div class="slogans">回到顶部
            <span class="trangle"></span>
        </div>
    </i>
</div>
<!--右侧导航栏结束-->
<!--main模块开始-->
<div class="main"></div>
<!--main模块结束-->
<!--body模块开始-->
<div class="body">
    <div class="w">
        <div class="registry">
            <h3>满&nbsp;&nbsp;&nbsp;意&nbsp;&nbsp;&nbsp;网</h3>
            <p>
                <label for="nickname">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
                <input type="text" name="username" id="nickname" maxlength="10">
                <span class="star">*</span>
            </p>
            <!--<span class="registerMessage">111</span>-->
            <p>
                <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                <input type="password" name="password" id="password" maxlength="16">
                <span class="star">*</span>
            </p>
            <div class="passwordStrength">
                <em>密码强度：</em>
                <div id="strengthLevel" class="strengthLv0"></div>
            </div>
            <p>
                <label for="passwordAgain">确认密码：</label>
                <input type="password" name="passwordAgain" id="passwordAgain" maxlength="16">
                <span class="star">*</span>
            </p>
            <p>
                <label for="username">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
                <input type="text" name="username" id="username">
                <span class="star">*</span>
            </p>
            <p>
                <label for="phonenumber">手&nbsp;&nbsp;机&nbsp;&nbsp;号：</label>
                <input type="tel" name="phonenumber" id="phonenumber">
                <span class="star">*</span>
            </p>
            <p>
                <label for="code">验&nbsp;&nbsp;证&nbsp;&nbsp;码：</label>
                <input type="text" name="code" id="code">
                <!--验证码-->
                <input type="button" id="checkCode" class="code"/>
            </p>
            <div class="registerBtn" id="registerBtn">立即注册</div>
            <div class="arguments">
                <input type="checkbox" id="checkArgument">我已阅读并同意《满意网注册协议》
            </div>
        </div>
    </div>
</div>
<!--body模块开始-->
<!--foot模块开始-->
<div class="foot">
    <div class="foot_top"><img data-original="image/5XGBR@Z$QVQ4$%5D1K%60HRJ958.png" alt=""></div>
    <div class="foot_bottom"><img data-original="image/OP4FMG5S9X_6TVX%6034(PZC2.png" alt=""></div>
</div>
<!--foot模块结束-->
<script src="js/jquery-1.12.4.js"></script>
<script src="js/jquery.lazyload.js"></script>
<script src="js/base.js"></script>
<script src="js/register.js"></script>
<script>
    $(function () {
        $("#registerBtn").on("click", function () {
            var userAccount = $("#nickname").val();
            var userPassword = $("#password").val();
            var userName = $("#username").val();
            var userPhone = $("#phonenumber").val();
            var person = {
                "userAccount": userAccount,
                "userPassword": userPassword,
                "userName": userName,
                "userPhone": userPhone
            };
            $.ajax({
                url: "http://localhost:8080/user/toRegister",
                type: "post",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify(person),
                success: function (res) {
                    console.log(res);
                }
            });
            // $.post("http://localhost:8080/user/toRegister", {
            //     "userAccount": "userAccount",
            //     "userPassword": "userPassword",
            //     "userName": "userName",
            //     "userPhone": "userPhone"
            // }, function (res) {
            //     console.log(res);
            // });
        });
    })
    ;
</script>
</body>
</html>