<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>满意网-综合网购首选-正品低价、品质保证、配送即使、轻松购物、包您满意！</title>
    <!--icon字体图标-->
    <link rel="shortcut icon" href="image/H6@QR(8]_TR5Z~FGIR$_WI8.png" type="image/x-icon"/>
    <!--初始化css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <!--公共的css:头部和底部-->
    <link rel="stylesheet" href="css/base.css" type="text/css">
    <!--用户资料的公共css-->
    <link rel="stylesheet" href="css/userInformationBase.css">
    <!--用户资料修改的css-->
    <link rel="stylesheet" href="css/userInformation.css">
    <!--字体图标css-->
    <link rel="stylesheet" type="text/css" href="../font/download/font_942gj5vp4fp/iconfont.css">
    <link rel="stylesheet" href="font/download (2)/font_pzp01tyw83/iconfont.css">
    <link rel="stylesheet" href="css/userInformation_order.css">
    <link rel="stylesheet" href="css/userInformation_collection.css">
    <link rel="stylesheet" href="css/userInformation_address.css">
</head>
<body>
<!--快捷导航模块开始-->
<div class="shortcut">
    <div class="w">
        <ul class="fl">
            <li><a href="login.html">请登录</a></li>
            <li class="spacer">|</li>
            <li><a href="register.html">注册</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="#" id="wechartLogion">
                    <span></span>
                    微信登录
                </a>
            </li>
        </ul>
        <ul class="fr">
            <li id="phoneApp">
                <a href="#">
                    <span></span>
                    手机版
                </a>
                <div class="phoneApp">
                    <img src="image/shoujierweima.png" alt="">
                    <h4>查看手机网站</h4>
                </div>
                <div class="trangle1"></div>
            </li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    收藏本站
                </a>
            </li>
            <li class="spacer">|</li>
            <li><a href="">我的资料</a></li>
            <li class="spacer">|</li>
            <li><a href="">我的订单</a></li>
            <li class="spacer">|</li>
            <li>
                <a href="">
                    <span></span>
                    购物车
                    <number>(0)</number>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--快捷导航模块结束-->
<!--顶部模块开始-->
<div class="header">
    <div class="w">
        <div class="text">
            E-commerce Platform
            <span>Design</span>
        </div>
        <div class="hotwords">
            <div class="itemCenter"><a href="index.html">首页</a></div>
            <div class="itemCenter"><a href="">优惠抢购</a></div>
            <div class="itemCenter"><a href="">新品二手</a></div>
            <div class="itemCenter"><a href="">二手电器城</a></div>
            <div class="itemCenter"><a href="">会员购</a></div>
        </div>
    </div>
</div>
<!--顶部模块结束-->
<!--右侧工具栏开始-->
<div class="rightBar">
    <i class="message iconfont icon-zhanghao">
        <div class="slogans">我的资料
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="collection iconfont icon-shoucang-copy">
        <div class="slogans">我的收藏
            <span class="trangle"></span>
        </div>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="shoppingCar iconfont icon-icon1">
        <div></div>
        <h1>购物车</h1>
        <span>0</span>
        <div class="landingBoox">
            <span class="trangle"></span>
            <div class="logintitle">用户登录</div>
            <input type="text" name="userName" placeholder="用户名">
            <input type="text" name="password" placeholder="密码">
            <div class="loginBtn">登录</div>
            <div class="registerQuick"><a href="register.html">免费注册></a></div>
        </div>
    </i>
    <i class="leaveMessage iconfont icon-liuyan">
        <div class="slogans">留言
            <span class="trangle"></span>
        </div>
    </i>
    <i class="erweima iconfont icon-erweima"></i>
    <i class="toTop iconfont icon-fanhuidingbu" id="toTop">
        <div class="slogans">回到顶部
            <span class="trangle"></span>
        </div>
    </i>
</div>
<!--右侧导航栏结束-->
<!--main模块开始-->
<div class="main"></div>
<!--main模块结束-->
<!--body模块开始-->
<div class="body">
    <div class="w">
        <div class="body_left">
            <div class="body_left_t">会员中心</div>
            <div class="body_left_b">
                <span class="addBlBgc"><a href="userInformation.html" class="list-group-item">我的资料</a></span>
                <span><a href="userInformation_order.html" class="list-group-item">我的订单</a></span>
                <span><a href="userInformation_address.html" class="list-group-item">收货人信息</a></span>
                <span><a href="userInformation_collection.html" class="list-group-item">我的收藏</a></span>
            </div>
        </div>
        <div class="body_right">
            <div class="body_right_t">我的资料</div>
            <div class="body_right_m">
                <span>
                    <img src="image/touxiang.png" alt="">
                    <div class="writeHead">编辑头像</div>
                </span>
                <span>孙力(<i class="iconfont icon-huiyuan">普通会员</i>)</span>
                <span>资料完整度：</span>
                <span></span>
                <span>100%</span>
            </div>
            <div class="body_right_b">
                <p>
                    <label for="accountname">账号名：</label>
                    <input type="text" name="username" id="accountname" maxlength="10" value="821998295" disabled>
                </p>
                <!--<span class="registerMessage">111</span>-->
                <p>
                    <label for="name">姓&nbsp;&nbsp;&nbsp;名：</label>
                    <input type="text" name="password" id="name" maxlength="16" value="孙力">
                </p>
                <p>
                    <label for="userEmail">邮&nbsp;&nbsp;&nbsp;箱：</label>
                    <input type="email" name="username" id="userEmail" maxlength="10" value="2893847589@qq.com">
                </p>
                <!--<span class="registerMessage">111</span>-->
                <p>
                    <label for="telphone">手&nbsp;&nbsp;&nbsp;机：</label>
                    <input type="tel" name="password" id="telphone" maxlength="16" value="13847564738" disabled>
                </p>
                <div class="storeBtn" id="storeInformation">保存</div>
            </div>
        </div>
    </div>
</div>
<!--body模块结束-->
<!--foot模块开始-->
<div class="foot">
    <div class="foot_top"><img data-original="image/5XGBR@Z$QVQ4$%5D1K%60HRJ958.png" alt=""></div>
    <div class="foot_bottom"><img data-original="image/OP4FMG5S9X_6TVX%6034(PZC2.png" alt=""></div>
</div>
<!--foot模块结束-->
<script src="js/jquery-1.12.4.js"></script>
<script src="js/jquery.lazyload.js"></script>
<script src="js/MD5.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/base.js"></script>
<script src="js/userInformation.js"></script>
</body>
</html>